.masonryGrid {
  display: block;
  position: relative;
  width: 100%;
  --default-gap: 10px;
}

.masonryItem {
  position: absolute;
  display: block;
  transition: top 0.3s, left 0.3s;
}

/* Additional styles for demo purposes */
.body {
  background: black;
  color: white;
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
}

.img {
  background: rgb(35, 35, 35);
  border-radius: 2px;
  width: 100%;
}

.p {
  margin: 0;
  text-wrap: pretty;
}

.button {
  padding: 1rem;
  color: white;
  background: #333;
  border: 1px solid #111;
  border-radius: 100px;
}
